<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619838190089-d2uan5aqrtk68jild377lbmiklqj8lpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619838190089-d2uan5aqrtk68jild377lbmiklqj8lpe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>619838190089-llvt9f119b35s7vr2mfaviug9554llb4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGIIrsm2MMZw6N2KEXlwrkCiKZhYgr9Tk</string>
	<key>GCM_SENDER_ID</key>
	<string>619838190089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PullBox</string>
	<key>PROJECT_ID</key>
	<string>pullbox-bd6bb</string>
	<key>STORAGE_BUCKET</key>
	<string>pullbox-bd6bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619838190089:ios:016b6c2955b4742adc7ed8</string>
	<key>DATABASE_URL</key>
	<string>https://pullbox-bd6bb-default-rtdb.firebaseio.com</string>
</dict>
</plist>